<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSAudioCaptureUsageDescription</key>
	<string>FineTune 需要访问权限以控制各应用程序的音量。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>FineTune 需要麦克风权限以捕获使用输入设备的应用音频。</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>FineTune 使用蓝牙从菜单栏连接配对的音频设备。</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/ronitsingh10/FineTune/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>xExSoQmCLDCez0KyhZ9EM9PdOZFZgyX/+VF+OVrpIlo=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>finetune</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.finetuneapp.FineTune</string>
		</dict>
	</array>
</dict>
</plist>
